@font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/assistant/assistant_n4.bcd3d09dcb631dec5544b8fb7b154ff234a44630.woff2?h1=bmFtdWFsY2hlbWlqYS5sdA&hmac=29a44875c1cc43a95f316cacbc64d4934a211fe710d453763e6d399ac1cd9abb")
      format("woff2"),
    url("https://fonts.shopifycdn.com/assistant/assistant_n4.a2d012304becc2a26f1ded1acc136fcab85c9afd.woff?h1=bmFtdWFsY2hlbWlqYS5sdA&hmac=fdfadf95b882a75038c67b73198d332359a4adc391171099275ffc5d63a13de2")
      format("woff");
}

@font-face {
  font-family: Assistant;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/assistant/assistant_n7.3335c7bdaddf2501ddab87cdbd9be98f3870e10d.woff2?h1=bmFtdWFsY2hlbWlqYS5sdA&hmac=e72f0a9e2209cdfd81b2bda4c1ad7fd09811abf96755eaa71ce960217901a93a")
      format("woff2"),
    url("https://fonts.shopifycdn.com/assistant/assistant_n7.7c85f5c5cc1555de92cc7ef2790ee3cffe5237f5.woff?h1=bmFtdWFsY2hlbWlqYS5sdA&hmac=d7bbaa47d1f7967dce5a0bd86312ddc4ee03eba787d46c83121335015ead5daa")
      format("woff");
}

@font-face {
  font-family: Futura;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/futura/futura_n6.bbe2e25d5b96d13ff36b242171a3d07cf5a60170.woff2?h1=bmFtdWFsY2hlbWlqYS5sdA&hmac=664351e3972cc69e7dd0fdfd3c01c34fc8fd7d6ca475280a4c9b54211d47761f")
      format("woff2"),
    url("https://fonts.shopifycdn.com/futura/futura_n6.66fa8f5c3c4b2c7c04809ecefe751450fa59d995.woff?h1=bmFtdWFsY2hlbWlqYS5sdA&hmac=26aacb2b76b971664b21681f4f8716151798e575a60fa66721fa8dc0c57e2123")
      format("woff");
}

:root {
  --font-body-family: Assistant, sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-weight-bold: 700;

  --font-heading-family: Futura, sans-serif;
  --font-heading-style: normal;
  --font-heading-weight: 600;

  --font-body-scale: 1;
  --font-heading-scale: 1;

  --color-base-text: 53, 53, 53;
  --color-shadow: 53, 53, 53;
  --color-base-background-1: 255, 255, 255;
  --color-base-background-2: 255, 232, 194;
  --color-base-solid-button-labels: 53, 53, 53;
  --color-base-outline-button-labels: 46, 42, 57;
  --color-base-accent-1: 255, 232, 194;
  --color-base-accent-2: 247, 247, 247;
  --payment-terms-background-color: #ffffff;

  --gradient-base-background-1: #ffffff;
  --gradient-base-background-2: linear-gradient(
    182deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 99%
  );
  --gradient-base-accent-1: #ffe8c2;
  --gradient-base-accent-2: linear-gradient(
    180deg,
    rgba(254, 254, 254, 1) 99%,
    rgba(239, 239, 239, 1) 100%
  );

  --media-padding: px;
  --media-border-opacity: 0.1;
  --media-border-width: 0px;
  --media-radius: 12px;
  --media-shadow-opacity: 0.1;
  --media-shadow-horizontal-offset: 10px;
  --media-shadow-vertical-offset: 12px;
  --media-shadow-blur-radius: 20px;
  --media-shadow-visible: 1;

  --page-width: 120rem;
  --page-width-margin: 0rem;

  --card-image-padding: 0rem;
  --card-corner-radius: 1.2rem;
  --card-text-alignment: center;
  --card-border-width: 0rem;
  --card-border-opacity: 0.1;
  --card-shadow-opacity: 0.05;
  --card-shadow-visible: 1;
  --card-shadow-horizontal-offset: 1rem;
  --card-shadow-vertical-offset: 1rem;
  --card-shadow-blur-radius: 3.5rem;

  --badge-corner-radius: 2rem;

  --popup-border-width: 1px;
  --popup-border-opacity: 0.1;
  --popup-corner-radius: 22px;
  --popup-shadow-opacity: 0.1;
  --popup-shadow-horizontal-offset: 10px;
  --popup-shadow-vertical-offset: 12px;
  --popup-shadow-blur-radius: 20px;

  --drawer-border-width: 1px;
  --drawer-border-opacity: 0.1;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 4px;
  --drawer-shadow-blur-radius: 5px;

  --spacing-sections-desktop: 36px;
  --spacing-sections-mobile: 25px;

  --grid-desktop-vertical-spacing: 40px;
  --grid-desktop-horizontal-spacing: 40px;
  --grid-mobile-vertical-spacing: 20px;
  --grid-mobile-horizontal-spacing: 20px;

  --text-boxes-border-opacity: 0.1;
  --text-boxes-border-width: 1px;
  --text-boxes-radius: 24px;
  --text-boxes-shadow-opacity: 0.05;
  --text-boxes-shadow-visible: 1;
  --text-boxes-shadow-horizontal-offset: 10px;
  --text-boxes-shadow-vertical-offset: 12px;
  --text-boxes-shadow-blur-radius: 20px;

  --buttons-radius: 10px;
  --buttons-radius-outset: 11px;
  --buttons-border-width: 1px;
  --buttons-border-opacity: 0.15;
  --buttons-shadow-opacity: 0;
  --buttons-shadow-visible: 0;
  --buttons-shadow-horizontal-offset: 0px;
  --buttons-shadow-vertical-offset: 4px;
  --buttons-shadow-blur-radius: 5px;
  --buttons-border-offset: 0.3px;

  --inputs-radius: 10px;
  --inputs-border-width: 1px;
  --inputs-border-opacity: 0.15;
  --inputs-shadow-opacity: 0;
  --inputs-shadow-horizontal-offset: 0px;
  --inputs-margin-offset: 0px;
  --inputs-shadow-vertical-offset: 4px;
  --inputs-shadow-blur-radius: 5px;
  --inputs-radius-outset: 11px;

  --variant-pills-radius: 2px;
  --variant-pills-border-width: 0px;
  --variant-pills-border-opacity: 0.1;
  --variant-pills-shadow-opacity: 0;
  --variant-pills-shadow-horizontal-offset: 0px;
  --variant-pills-shadow-vertical-offset: 4px;
  --variant-pills-shadow-blur-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

header-drawer {
  justify-self: start;
  margin-left: -1.2rem;
}

.header__heading-logo {
  max-width: 50px;
}

@media screen and (min-width: 990px) {
  header-drawer {
    display: none;
  }
}

.menu-drawer-container {
  display: flex;
}

.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu--inline {
  display: inline-flex;
  flex-wrap: wrap;
}

summary.list-menu__item {
  padding-right: 2.7rem;
}

.list-menu__item {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.list-menu__item--link {
  text-decoration: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .list-menu__item--link {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-header {
  margin-bottom: 18px;
}

@media screen and (min-width: 750px) {
  .section-header {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 990px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
